/* <system section="theme" selected="smooth"> */
@import "/css/theme/smooth/smooth.css";
/* </system> */

/* <system section="background" selected="default"> */
/* default */
/* </system> */
@font-face {
  font-family: HuiFontP109;
  src: url(https://cdn.blog.st-hatena.com/fonts/public/HuiFont/HuiFontP109.eot?version=a70337c8c419d80473c7f33e091157eb3e6d7fee&env=production);
  src: url(https://cdn.blog.st-hatena.com/fonts/public/HuiFont/HuiFontP109.eot?version=a70337c8c419d80473c7f33e091157eb3e6d7fee&env=production)
      format("embedded-opentype"),
    url(https://cdn.blog.st-hatena.com/fonts/public/HuiFont/HuiFontP109.woff?version=c3931e420dc7945d84d33c2a5b46baf25e84cfec&env=production)
      format("woff"),
    url(https://cdn.blog.st-hatena.com/fonts/public/HuiFont/HuiFontP109.ttf?version=ca182ccfb2bdd8761a18a9782bbbdb83055c4f81&env=production)
      format("truetype"),
    url(https://cdn.blog.st-hatena.com/fonts/public/HuiFont/HuiFontP109.svg?version=0ea582bf20095e22f57631de768f9a39e60a6f09&env=production)
      format("svg");
}

/*===================================
  見出し
===================================*/
.entry-content h1 {
  font-size: 160%;
  font-weight: normal;
  padding: 0.5em 0.6em;
  /*color: #010101;文字色*/
  background: hsl(184, 35%, 94%); /*背景色*/
  /*#e7f3f3*/
  border-bottom: solid 4px hsl(184, 35%, 82%); /*下線*/
}

.entry-content h2 {
  font-size: 150%;
  font-weight: normal;

  padding-left: 0.1em;
  background: none;
  border-bottom: dashed 2px hsl(184, 35%, 82%);
}

.entry-content h3 {
  font-size: 140%;
  font-weight: normal;
  padding: 5px 0 5px 40px;
  background: url(https://cdn.blog.st-hatena.com/css/theme/handwriting/img/ribbon.png?version=434688b…&env=production)
    no-repeat 0;
  border-bottom: none;
}

/*===================================
  ブログの背景
===================================*/
body,
html {
  background: hsl(184, 35%, 94%);
}

/*===================================
  ブログのサイドの部分
===================================*/
#box2 {
  /*デフォルトは hsla(0, 0%, 100%, .2)*/
  background: hsla(0, 0%, 100%, 0);
}

/*===================================
  リンク
===================================*/

.entry-content a {
  color: #ffb2a4;
}

.hatena-module-profile .id a {
  color: #ffb2a4;
}

/*===================================
  タイトル
===================================*/

#title a {
  font-family: HuiFontP109, sans-serif;
}

/*===================================
  目次
===================================*/
/* 参考: https://www.haurin-zatunenlife.com/entry/hatenablog-mokuji-midasi*/
/* https://www.papico405.com/entry/2019/02/15/205027 */
/*目次のデザイン変更*/
.table-of-contents {
  padding: 15px 10px 15px 15px; /* 枠内の余白(上右下左) */
  font-size: 100%; /* 文字サイズ */
  border: solid 2px hsl(184, 35%, 82%); /* 線の種類と色 */
  background: hsl(184, 35%, 95%); /* 背景 */
  border-radius: 6px;
}
.table-of-contents:before {
  content: "目次";
  margin: 0 0 0 -22px;
  font-size: 110%;
  font-weight: bold;
  color: #000; /* 文字の色 */
}

/*===================================
  alert(boostrap風)
===================================*/
/* はてなブログでちょっとおしゃれに枠線と背景色を表示するカスタマイズ | つばさのーと https://www.tsubasa-note.blog/entry/bootstrap-alerts/ */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

/*===================================
  pタグの変更
===================================*/
.entry-content p {
  /*デフォは 0 0 15.2px 0
  枠とフィットするようにマージンを上下対称にする*/
  margin: 8px 0 8px 0;
}

/*===================================
  preタグの変更
===================================*/
.entry-content pre {
  /*
    白黒反転させる（黒背景だと紫色の文字が見にくい）
    デフォルトは #293030
  */
  background-color: hsl(184, 35%, 95%);
  color: #222222;
  border: solid 1px hsl(184, 35%, 85%);
  /* Zennのパクリ*/
  border-radius: 6px;
}
/*===================================
  定理・定義など
===================================*/
/*参考: 【CSS】おしゃれなボックスデザイン（囲み枠）のサンプル30 https://saruwakakun.com/html-css/reference/box */
.thm {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 3px hsl(184, 35%, 60%);
  border-radius: 0 6px 6px 5px;
}
.thm .title {
  position: absolute;
  display: inline-block;
  top: -27px;
  left: -3px;
  padding: 0 9px;
  height: 25px;
  line-height: 25px;
  font-size: 17px;
  background: hsl(184, 35%, 60%);
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
}
.thm .body {
  margin: 0;
  padding: 0;
}

/*===================================
例・問題
===================================*/
.ex {
  position: relative;
  margin: 2em 0;
  padding: 0.7em 1em 0.5em 1em;
  border: solid 3px hsl(184, 35%, 60%);
  border-radius: 7px;
}
.ex .title {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 12px;
  padding: 0 9px;
  line-height: 1;
  font-size: 19px;
  background: #fff;
  color: hsl(184, 35%, 60%);
  font-weight: bold;
}
.ex body {
  margin: 0;
  padding: 0;
}
/*===================================
証明
===================================*/
.prf {
  position: relative;
  padding: 1.5em 1em 0.5em 1em;
  margin: 0.5em 0;
  top: 0;
}

.prf .no-title {
  padding: 0.5em 1em 0.5em 1em;
}

.prf:before {
  position: absolute;
  top: 0;
  content: "";
  width: 8em;
  height: 100%;
  display: inline-block;
  box-sizing: border-box;
  border-left: dashed 2px hsl(184, 35%, 60%);
  border-top: dashed 2px hsl(184, 35%, 60%);
  border-bottom: dashed 2px hsl(184, 35%, 60%);
  left: 0;
}

.prf .title {
  position: absolute;
  display: inline-block;
  top: 0px;
  left: 0px;
  padding: 0 9px;
  margin: 0 0 10em 0;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  background: hsl(184, 35%, 60%);
  color: #ffffff;
  font-weight: bold;
}

.prf body {
  margin: 0;
  padding: 0;
}
